@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    border: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Avilock";
    src: url('Avilock Bold.ttf') format('trueType');
}

:root {
    --bg-color: #0A0A0A;
    --text-color: #ffffff;
    --main-blue: #00D9FF;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
}

.logo {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    font-family: "Avilock";
}

.logo span {
    color: #00d8ff;
    font-family: "Avilock";
}

.menu {
    align-items: center;
    display: flex;
    background-color: #000;
    border-radius: 50px;
    padding: 10px 40px;
    box-shadow: 0 0 10px rgba(0, 217, 255, 0.404), 0 0 40px rgba(0, 216, 255, 0.6);
}

.menu a {
    color: #b3b3b3;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 30px;
    transition: color 0.3s ease;
    font-family: "Avilock";
}

.menu a.active,
.menu a:hover {
    color: #00d8ff;
}

.explore-btn {
    display: inline-block;
    background-color: #000;
    border-radius: 50px;
    padding: 20px 50px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 216, 255, 0.8), 0 0 40px rgba(0, 216, 255, 0.6);
    transition: .5s ease;
    font-family: "Avilock";
}

.explore-btn:hover {
    background-color: #00d8ff;
}

/* Hamburger menu */
.hamburger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 2000;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger span:nth-child(3) {
    bottom: 0;
}

/* Hamburger animation */
.hamburger.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

/* home */
.home-section {
    text-align: center;
    padding: 40px;
    z-index: 1;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    font-size: 7rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    font-family: "Avilock";
}

.heading .highlight {
    background: linear-gradient(to right, #00d8ff, #005f9e);
    -webkit-background-clip: text;
    font-family: "Avilock";
    -webkit-text-fill-color: transparent;
}

.subheading {
    font-size: 1.2rem;
    color: #b3b3b3;
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    z-index: 0;
    overflow: hidden;
}

.wave img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive styles */
@media screen and (max-width: 767px) {
    .navbar {
        padding: 30px 20px;
    }
    
    .logo {
        font-size: 35px;
    }
    
    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.95);
        width: 70%;
        height: 100vh;
        border-radius: 0;
        padding: 100px 0 30px;
        transition: right 0.5s ease;
        box-shadow: none;
    }
    
    .menu.active {
        right: 0;
        box-shadow: -5px 0 30px rgba(0, 217, 255, 0.4);
    }
    
    .menu a {
        padding: 20px;
        font-size: 24px;
        width: 100%;
        text-align: center;
    }
    
    .explore-btn {
        display: none;
    }
    
    .hamburger {
        display: block;
    }
    
    .heading {
        font-size: 4rem;
    }
    
    .home-section {
        height: 80vh;
        padding-bottom: 120px;
    }
    
    .wave {
        height: 200px;
    }
    .card-item{
        width: 600px !important;
    }
    .bag h1{
        font-size: 44px;
    }
    .bag p{
        font-size: 15px;
    }
    .discover{
        margin-top: 20px;
    }
    .future h1{
        font-size: 90px;
    }
    /* detail */
    .container-product{
        margin:auto;
    }
    .container-news h4{
        font-size: 17px;
    }
    .container-news p{
        font-size: 13px;
    }
    .container-img img{
        width: 100%;
    }
    .container-button{
        width: 120px;
    }
    .container-button a{
        font-size: 13px;
    }
}

@media screen and (max-width: 430px) {
    .navbar {
        padding: 20px 15px;
    }
    
    .logo {
        font-size: 28px;
    }
    
    .menu {
        width: 100%;
    }
    
    .heading {
        font-size: 3.8rem;
    }
    
    .subheading {
        font-size: 1rem;
        margin-bottom: 30px;
    }
    
    .home-section {
        height: 75vh;
        padding-bottom: 80px;
        justify-content: flex-end;
    }
    
    .wave {
        height: 350px;
        bottom: 3;
    }
    .card-list{
        padding: 0 15px;
    }
    .card-item{
        width: 400px !important;
    }
    .bag{
        overflow: hidden;
        padding: 0;
    }
    .bag .header-card{
        font-size: 24px;
    }
    .bag p{
        font-size: 15px !important;
        padding: 10px 5px;
    }
    .discover{
        margin: 5px 5px;
        width: 100px;
        height: 30px;
    }
    .discover .material-symbols-outlined{
        overflow: hidden;
    }
    .future h1{
        font-size: 50px !important;
    }
    .footer-text{
        font-size: 10px;
    }
    /* detail */
    .container-product{
        flex-direction: column-reverse;
    }
}

/* show off start */
.show-off {
    max-width: 100%;
    min-height: 100svh;
    background: url(assets/showoff-bg.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    margin: 10rem 0;
}

.show-off div {
    position: relative;
    max-width: 100%;
    display: grid;
    place-items: center;
    min-height: 70%;
}

.show-off img {
    position: relative;
    max-width: 50%;
    bottom: 2.5rem;
}

.show-off h1 {
    position: absolute;
    font-family: 'Avilock';
    font-size: 7rem;
    background: linear-gradient(0deg, var(--bg-color), var(--text-color));
    color: transparent;
    background-clip: text;
    text-align: center;
}

@media (max-width: 48rem) {
    .show-off h1 {
        font-size: 5rem;
    }

    .show-off img {
        max-width: 60%;
        bottom: 2.5rem;
    }

    .show-off .first-text {
        bottom: 53vh !important;
    }

    .show-off .second-text {
        top: 27vh !important;
    }
}

@media (max-width: 26.875rem) {
    .show-off div {
        min-height: 80vh;
    }

    .show-off h1 {
        font-size: 6rem;
    }

    .show-off img {
        max-width: 140%;
        bottom: 6rem;
    }

    .show-off .first-text {
        bottom: 68vh !important;
    }

    .show-off .second-text {
        top: 40vh !important;
    }
}


.show-off .first-text {
    bottom: 50vh;
}

.show-off .second-text {
    top: 30vh;
}

/* show off end */

/* show off numero dos/2 start */
.show-off-2 {
    max-width: 100%;
    min-height: 100svh;
    background: url(assets/showoff2-bg.webp);
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.show-off-2 div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.show-off-2 div div {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.show-off-2-text {
    position: relative;
    top: 4rem;
    left: 4rem;
}

.show-off-2-text,
.show-off-2-text span {
    font-family: 'Avilock';
    font-size: 7rem;
    line-height: 90%;
}

.show-off-2-text span {
    background: linear-gradient(90deg, #00d8ff, #005f9e);
    color: transparent;
    background-clip: text;
}

.show-off-2-button {
    position: relative;
    margin-top: auto;
    margin-left: auto;
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    background-color: var(--bg-color);
    border: 0.1rem solid var(--text-color);
    transition: .3s;
}

.show-off-2-button img {
    width: 5em;
    transition: .5s;
}

.show-off-2-button:hover img {
    transform: rotate(-45deg);
}

.show-off-2 div img {
    max-width: 30rem;
    margin-left: auto;
}

@media (max-width: 48rem) {
    .show-off-2 {
        background-size: 500%;
    }

    .show-off-2 div img{
        max-width: 20rem;
    }

    .show-off-2-text {
        top: 2rem;
        left: 2rem;
    }

    .show-off-2-text,
    .show-off-2-text span {
    font-size: 4rem;
    }

    .show-off-2-button {
        height: 5rem;
        width: 5rem;
    }

    .show-off-2-button img {
        width: 3em;
    }
}

@media (max-width: 26.875rem) {
    .show-off-2 div {
        display: flex;
        flex-direction: column-reverse;
        place-items: center;
        gap: 2rem;
    }

    .show-off-2 div img{
        max-width: 20rem;
        margin-left: 0;
    }

    .show-off-2 div div {
        margin-right: 0;
    }

    .show-off-2-text {
        top: 1rem;
        left: 1rem;
    }

    .show-off-2-text,
    .show-off-2-text span {
    font-size: 4.5rem;
    }

    .show-off-2-button {
        position: relative;
        margin-top: auto;
        margin-left: auto;
        right: 4rem;
        height: 5rem;
        width: 5rem;
    }

    .show-off-2-button img {
        width: 3em;
    }
}
/* show off numero dos/2 end */

/* carousel section */
.container {
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    display: flex;
}

.card-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 20px;
    padding: 20px 0;
    scroll-behavior: smooth;
}

.swiper-wrapper {
    display: flex;
}

.card-list {
    display: flex;
    gap: 60px;
    min-width: max-content;
}

.card-item {
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    /* Ukuran tetap, tidak mengecil */
    max-width: 1010px;
    /* gap: 10px; */
}

.card-item img {
    width: 100%;
    height: auto;
}

.bag {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 10px;
    color: black;
    margin: 20px;
    padding: 0 10px;
}

.bag p {
    font-family: 'Inter', sans-serif;
    color: #828282;
    font-size: 19px;
    padding: 10px 7px;
}

.header-card {
    font-family: 'Avilock', sans-serif;
    font-size: 64px;
}

.header-card .qc {
    color: #fff;
}

.discover {
    margin: 35px 7px;
    padding: 7px 7px;
    width: 123px;
    height: 38px;
    border-radius: 69.14px;
    border: none;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    transition: .5s;

}

.discover a:hover .material-symbols-outlined {
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
}

.material-symbols-outlined {
    font-size: 18px;
}

.bag .ai-item {
    color: #fff;
}

.bag .qc-item {
    color: #fff;
}

.bag .qc {
    color: #fff;
}

.bag .qc-discover {
    background-color: #C300FF;
}

.bag .ai-discover {
    background-color: #fff;

}

.bag .ai-discover a {
    color: #426200;
}

.future {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.future-button{
    display: inline-block;
    background-color: #fff;
    border-radius: 50px;
    padding: 20px 50px;
    color: #000;
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 216, 255, 0.8), 0 0 40px rgba(0, 216, 255, 0.6);
    transition: .5s ease;
    font-family: 'Avilock', sans-serif;
}
.future-button:hover{
    background-color: #00d8ff;
}
.future h1 {
    font-family: 'Avilock', sans-serif;
    font-size: 113.87px;
    color: #fff;
}

.future h1 span {
    background: linear-gradient(180deg, #000, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Avilock', sans-serif;
}

footer {
    margin-top: 228px;
}

.footer-text {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.footer-text span {
    font-family: 'Avilock', sans-serif;
}

/* home section detail */
.home-detail-section {
    background: linear-gradient(120deg, #000000 40%, #012740 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 40px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-container h1 {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    font-family: "Avilock", sans-serif;
    line-height: 1.2;
}

.subheading-container {
    position: absolute;
    top: 80%;
    margin-top: 10px;
    z-index: 3;
    text-align: center;
}

.subheading-container p {
    font-size: 1rem;
    color: #ffff;
    font-weight: 600;
    max-width: 700px;
    margin: 10px 0;
}

.home-detail-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%);
    z-index: 1;
    width: 50%;
    opacity: 0.7;
}

.trusted-avatars-row {
    margin-top: 20px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trusted-avatars-row p {
    margin: 0;
    margin-right: 10px;
    font-size: 1rem;
    color: #b3b3b3;
    font-weight: 400;
}

.avatars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatars img {
    border-radius: 50%;
    margin-right: 5px;
    width: 35px;
    height: 35px;
}

.exhibits {
    margin-top: 100px;
}

/* immersive section / second detail section */
.immersive-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-color: #ffffff;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.immersive-section h1 {
    z-index: 3;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    max-width: 900px;
}

.immersive-section .ellipse {
    position: absolute;
    top: 1;
    left: 0;
    transform: translate(-55%, -55%);
    z-index: 0;
}

.immersive-section .line {
    position: absolute;
    bottom: 1;
    right: 0;
    transform: translate(30%, 45%);
    z-index: 0;
}

/* Responsive styles for tablet */
@media screen and (max-width: 767px) {
    /* Home detail section */
    .home-detail-section {
        padding: 30px 20px;
        height: auto;
        min-height: 100vh;
        justify-content: flex-start;
        padding-top: 100px; /* Space for navbar */
    }
    
    .home-detail-image {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: 70%;
        max-width: 400px;
        margin-bottom: 40px;
        opacity: 0.7;
    }
    
    .heading-container {
        margin-top: 0;
        width: 100%;
    }
    
    .heading-container h1 {
        font-size: 3.5rem;
    }
    
    .subheading-container {
        position: relative;
        top: auto;
        margin-top: 40px;
        padding: 0 20px;
        width: 100%;
    }
    
    .subheading-container p {
        font-size: 0.9rem;
        max-width: 90%;
        margin: 10px auto;
    }
    
    .trusted-avatars-row {
        flex-direction: column;
        margin-top: 30px;
    }
    
    .trusted-avatars-row p {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    /* Immersive section */
    .immersive-section {
        padding: 30px 20px;
        height: auto;
        min-height: 80vh;
    }
    
    .immersive-section h1 {
        font-size: 2rem;
        max-width: 90%;
    }
    
    .immersive-section .ellipse {
        width: 80%;
        transform: translate(-40%, -40%);
    }
    
    .immersive-section .line {
        width: 80%;
        transform: translate(20%, 30%);
    }
}

/* Responsive styles for mobile */
@media screen and (max-width: 430px) {
    /* Home detail section */
    .home-detail-section {
        padding: 20px 15px;
        padding-top: 80px;
        text-align: center;
    }
    
    .home-detail-image {
        width: 90%;
        margin-bottom: 30px;
        opacity: 0.6;
    }
    
    .heading-container h1 {
        font-size: 3.2rem;
    }
    
    .subheading-container {
        margin-top: 30px;
    }
    
    .subheading-container p {
        font-size: 1rem;
    }
    
    .trusted-avatars-row p {
        font-size: 0.90rem;
    }
    
    .avatars img {
        width: 30px;
        height: 30px;
    }
    
    /* Immersive section */
    .immersive-section {
        padding: 20px 15px;
        min-height: 70vh;
        overflow: hidden;
    }
    
    .immersive-section h1 {
        font-size: 1.5rem;
        line-height: 1.4;
    }
    
    .immersive-section .ellipse {
        width: 100%;
        transform: translate(-50%, -50%);
    }
    
    .immersive-section .line {
        width: 100%;
        transform: translate(50%, 50%);
    }
}

/* second done */

.container-product {
    display: flex;
    justify-content: center;
    margin-top: 68px;
}

.container-news {
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    padding: 10px 20px;
}

.container-news h4 {
    font-size: 25px;
    font-weight: 600;
}

.container-news p {
    margin-top: 19px;
    font-size: 20;
}

.container-button {
    width: 164px;
    height: 38px;
    background-color: #fff;
    border-radius: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
}

.container-button a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.container-button a:hover .material-symbols-outlined {
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
}

.container-comp {
    margin-top: 127px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.container-comp img:hover {
    filter: grayscale(100);
    transition: transform 0.3s ease;

}

.container-img:hover {
    filter: grayscale(100);
    transition: transform 0.3s ease;

}

.separator {
    width: 2px;
    height: 30px;
    background-color: #ccc;
    margin: 0 10px;
}

/* benefit section start */
.benefit-section {
    max-width: 100%;
    min-height: 80svh;
    display: grid;
    place-items: center;
    padding-bottom: 8rem;
}

.benefit-section-title {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.benefit-section-outer-container {
    max-width: 100%;
    display: grid;
    margin: 0 6rem;
}

.benefit-section-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.benefit-section-content {
    border-radius: 1rem;
    border: 0.3rem solid rgba(0, 216, 255, 0.25);
    padding: 3rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.benefit-section-content svg {
    width: 20%;
    height: auto;
}

.benefit-section-content h1 {
    font-size: 2.3rem;
}

.benefit-section-content p {
    font-size: 1.5rem;
}

@media (max-width: 48rem) {
    .benefit-section {
        padding-top: 8rem 0;
    }

    .benefit-section-title {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .benefit-section-outer-container {
        margin: 0 4rem;
    }
    
    .benefit-section-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
    .benefit-section-content {
        border-radius: 1rem;
        padding: 3rem 2rem 2rem;
    }

    .benefit-section-content svg {
        width: 4rem;
    }
    
    .benefit-section-content h1 {
        font-size: 1.7rem;
    }
    
    .benefit-section-content p {
        font-size: 1.2rem;
    }
}

@media (max-width: 26.875rem) {
    .benefit-section {
        padding: 8rem 0;
    }

    .benefit-section-title {
        font-size: 2.3rem;
        margin-bottom: 3rem;
    }

    .benefit-section-outer-container {
        margin: 0 2rem;
    }
    
    .benefit-section-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    
    .benefit-section-content {
        border-radius: 1rem;
        padding: 3rem 2rem 2rem;
    }

    .benefit-section-content svg {
        width: 4rem;
    }
    
    .benefit-section-content h1 {
        font-size: 1.7rem;
    }
    
    .benefit-section-content p {
        font-size: 1.2rem;
    }
}
/* benefit section end */